<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">

    <!-- Content Start -->
    <div class="content">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4" th:text="${vesselInfo.vesselName}"></h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>선명</th>
                            <th>선박 IMO</th>
                            <th>선박 종류</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${vesselInfo.vesselName}"></td>
                            <td th:text="${vesselInfo.IMO}"></td>
                            <td th:text="${vesselInfo.vesselType}"></td>
                            <!-- <td th:text="${clientInfo.currentRating}"></td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link btn btn-lg btn-secondary m-2" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true" th:onclick="|location.href='@{/component/components/{vesselId} (vesselId=${vesselInfo.vesselId})}'|" >부품 조회</button>
                <button class="nav-link  btn btn-lg btn-secondary m-2" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="true" th:onclick="|location.href='@{/component/register/{vesselId} (vesselId=${vesselInfo.vesselId}) }'|">부품 업로드</button>
                <button class="nav-link btn btn-lg btn-secondary m-2" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                        aria-selected="true" th:onclick="|location.href='@{/block/register/{vesselId} (vesselId=${vesselInfo.vesselId})}'|">블럭 등록</button>
            </div>
        </nav>





    </div>
    <!-- Content End -->
    <!-- Back to Top -->
</div>
<!-- JavaScript Libraries -->
<div th:insert="~{fragment/libraries :: libraries}"></div>
<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>