<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">

    <!-- Content Start -->
    <div class="content">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4" th:text="${vesselInfo.vesselName}"></h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>선명</th>
                            <th>선박 IMO</th>
                            <th>선박 종류</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${vesselInfo.vesselName}"></td>
                            <td th:text="${vesselInfo.IMO}"></td>
                            <td th:text="${vesselInfo.vesselType}"></td>
                            <!-- <td th:text="${clientInfo.currentRating}"></td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr>






        <div class="content">
            <div class="container-fluid pt-xxl-5 px-4">
                <div class="row g-4">
                    <div class="col-xl-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <form  th:object="${componentSearchCond}" method="get">

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"  th:field="*{componentName}" placeholder="name@example.com">
                                    <label for="">부품 이름</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"  th:field="*{sequenceNumber}" placeholder="name@example.com">
                                    <label for="">일련 번호</label>
                                </div>


                                <div class="form-floating mb-3">
                                    <select class="form-select" th:field="*{faultType}" id="" aria-label="Floating label select example">
                                        <option value="">불량 타입</option>
                                        <option th:each="ft : ${FaultTypeList}"
                                                th:value="${ft}"
                                                th:text="${ft}">FAST</option>
                                    </select>
                                    <label for="">Works with selects</label>
                                </div>


                                <hr>
                                <button type="submit" class="btn btn-primary">검색</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




            <div class="container-fluid pt-4 px-4">
                <div class="col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Responsive Table</h6>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>부품 명</th>
                                    <th>일련 번호</th>
                                    <th>불량 타입</th>
                                    <th>작업 상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="component,i : ${components}">
                                    <td th:text="${i.count}"></td>
                                    <td ><a th:text="${component.componentName}" th:href="@{|/component/${component.componentId}|}" ></a></td>
                                    <td  th:text="${component.sequenceNumber}"></td>
                                    <td th:text="${component.faultType}"></td>
                                    <td th:text="${component.workingStatus}"><button type="submit" disabled >작업 상태</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>









        </div>
    <!-- Content End -->
    <!-- Back to Top -->
</div>
<!-- JavaScript Libraries -->
<div th:insert="~{fragment/libraries :: libraries}"></div>
<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>