<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">

  <div class="content">

    <!-- 내용 -->
    <div class="container-fluid pt-xxl-5 px-4">
      <div class="row g-4">
        <div class="col-xl-12 col-xl-6">
          <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Basic Form</h6>
            <form th:object="${VesselForm}" method="post">
              <div class="mb-3">
                <label for="" class="form-label">선박 IMO</label>
                <input type="text" th:field="*{IMO}" class="form-control"
                       aria-describedby="emailHelp">
                <!--오류 처리-->
                <div class="field-error" th:errors="*{IMO}">
                  이름 오류
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                </div>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">선박 명</label>
                <input type="text" th:field="*{vesselName}" class="form-control"
                       aria-describedby="emailHelp">
                <!--오류 처리-->
                <div class="field-error" th:errors="*{vesselName}">
                  이름 오류
                </div>
                <div id="" class="form-text">We'll never share your email with anyone else.
                </div>
              </div>


              <div class="form-floating mb-3">
                <select class="form-select" th:field="*{vesselType}" id="floatingSelectTeam" aria-label="Floating label select example">
                  <option value="">선박 종류</option>
                  <option th:each="vT : ${vesselTypes}"
                          th:value="${vT}"
                          th:text="${vT}">FAST</option>
                </select>
                <label for="floatingSelectTeam">Works with selects</label>
              </div>

              <button type="submit" class="btn btn-primary" >선박 등록</button>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
<!-- JavaScript Libraries -->
<div th:insert="~{fragment/libraries :: libraries}"></div>
<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>